<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    
    <div id="app">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <a v-bind:href="link">Vue Guide</a>

        <div>
            <h3>List</h3>
            <ol>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ol>
        </div>

        <div>
            <h3>Component</h3>
            <ol>
                <todo-item
                    v-for="todo in todos"
                    :todo="todo"
                    :key="todo.id"
                ></todo-item>
            </ol>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>