<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <title>Document</title>

    <style>
        .blue{
            background-color: blue;
        }

        .red{
            background-color: red;
        }
    </style>
</head>
<body>

    <div id="root">
        <ul>
            <li v-for="name in names">{{name}}</li>
        </ul>
        <input type="text" placeholder="type.." v-model="name">
        <button @click="insert">Insert</button>

        <div style="margin: 10px;">Dynamic Html Attributes</div>
        <button v-bind:class=" isLoading? 'blue' : 'red' " @click="toggleButton">Click!!</button>

        <div style="margin: 10px;">Computed Property</div>
        <div>All Task</div>
        <ul>
            <li v-for="task in tasks">{{task.description}}</li>
        </ul>

        <div>Completed Task</div>
        <ul>
            <li v-for="(task, index) in completedTasks" :key="index">{{task.description}}</li>
        </ul>

        <div>Incompleted Task</div>
        <ul>
            <li v-for="(task, index) in incompletedTasks" :key="index">{{task.description}}</li>
        </ul>

    </div>
    
    <script>
        new Vue({
            el: '#root',
            data : {
                name: '',
                names : ['Key', 'Robert', 'Jones', 'Liam'],
                isLoading : false,
                tasks: [
                    { description: 'Go to Office', completed: false},
                    { description: 'Go to Market', completed: true},
                    { description: 'Go to Building', completed: true},
                    { description: 'Go to nowhere', completed: false},

                ]
            },
            methods: {
                insert(){
                    this.names.push(this.name);
                    this.name = '';
                },

                toggleButton(){
                    this.isLoading = !this.isLoading;
                }
            },

            computed:{
                incompletedTasks(){
                    return this.tasks.filter(task => !task.completed)
                },
                completedTasks(){
                    return this.tasks.filter(task => task.completed)
                }
            }

        })
    </script>
    
</body>
</html>